body {
  background-color: pink;
}

table {
  border-collapse: collapse;
}

th {
  height: 70px;
}
td {
  text-align: center;
}
th {
  text-align: center;
}
tr:nth-child(even) {background-color: blue;}
th {
  background-color: white;
  color: green;
}
<h1>
{
  color: black;
}
</h1>
